*.py[co]
__pycache__/

build/
dist/
*.egg-info/

.coverage
.tox/

plyvel/_plyvel.cpp
plyvel/_plyvel.html
plyvel/_plyvel*.so

.venv39/
.vscode/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/modules.xml
/.idea/MypyPlugin.xml
/.idea/plyvel.iml
/.idea/vcs.xml
/leveldb/leveldb-1.23/benchmarks/db_bench.cc
/leveldb/leveldb-1.23/benchmarks/db_bench_sqlite3.cc
/leveldb/leveldb-1.23/benchmarks/db_bench_tree_db.cc
/leveldb/leveldb-1.23/cmake/leveldbConfig.cmake.in
/leveldb/leveldb-1.23/db/autocompact_test.cc
/leveldb/leveldb-1.23/db/builder.cc
/leveldb/leveldb-1.23/db/builder.h
/leveldb/leveldb-1.23/db/c.cc
/leveldb/leveldb-1.23/db/c_test.c
/leveldb/leveldb-1.23/db/corruption_test.cc
/leveldb/leveldb-1.23/db/db_impl.cc
/leveldb/leveldb-1.23/db/db_impl.h
/leveldb/leveldb-1.23/db/db_iter.cc
/leveldb/leveldb-1.23/db/db_iter.h
/leveldb/leveldb-1.23/db/db_test.cc
/leveldb/leveldb-1.23/db/dbformat.cc
/leveldb/leveldb-1.23/db/dbformat.h
/leveldb/leveldb-1.23/db/dbformat_test.cc
/leveldb/leveldb-1.23/db/dumpfile.cc
/leveldb/leveldb-1.23/db/fault_injection_test.cc
/leveldb/leveldb-1.23/db/filename.cc
/leveldb/leveldb-1.23/db/filename.h
/leveldb/leveldb-1.23/db/filename_test.cc
/leveldb/leveldb-1.23/db/leveldbutil.cc
/leveldb/leveldb-1.23/db/log_format.h
/leveldb/leveldb-1.23/db/log_reader.cc
/leveldb/leveldb-1.23/db/log_reader.h
/leveldb/leveldb-1.23/db/log_test.cc
/leveldb/leveldb-1.23/db/log_writer.cc
/leveldb/leveldb-1.23/db/log_writer.h
/leveldb/leveldb-1.23/db/memtable.cc
/leveldb/leveldb-1.23/db/memtable.h
/leveldb/leveldb-1.23/db/recovery_test.cc
/leveldb/leveldb-1.23/db/repair.cc
/leveldb/leveldb-1.23/db/skiplist.h
/leveldb/leveldb-1.23/db/skiplist_test.cc
/leveldb/leveldb-1.23/db/snapshot.h
/leveldb/leveldb-1.23/db/table_cache.cc
/leveldb/leveldb-1.23/db/table_cache.h
/leveldb/leveldb-1.23/db/version_edit.cc
/leveldb/leveldb-1.23/db/version_edit.h
/leveldb/leveldb-1.23/db/version_edit_test.cc
/leveldb/leveldb-1.23/db/version_set.cc
/leveldb/leveldb-1.23/db/version_set.h
/leveldb/leveldb-1.23/db/version_set_test.cc
/leveldb/leveldb-1.23/db/write_batch.cc
/leveldb/leveldb-1.23/db/write_batch_internal.h
/leveldb/leveldb-1.23/db/write_batch_test.cc
/leveldb/leveldb-1.23/doc/benchmark.html
/leveldb/leveldb-1.23/doc/impl.md
/leveldb/leveldb-1.23/doc/index.md
/leveldb/leveldb-1.23/doc/log_format.md
/leveldb/leveldb-1.23/doc/table_format.md
/leveldb/leveldb-1.23/helpers/memenv/memenv.cc
/leveldb/leveldb-1.23/helpers/memenv/memenv.h
/leveldb/leveldb-1.23/helpers/memenv/memenv_test.cc
/leveldb/leveldb-1.23/include/leveldb/c.h
/leveldb/leveldb-1.23/include/leveldb/cache.h
/leveldb/leveldb-1.23/include/leveldb/comparator.h
/leveldb/leveldb-1.23/include/leveldb/db.h
/leveldb/leveldb-1.23/include/leveldb/dumpfile.h
/leveldb/leveldb-1.23/include/leveldb/env.h
/leveldb/leveldb-1.23/include/leveldb/export.h
/leveldb/leveldb-1.23/include/leveldb/filter_policy.h
/leveldb/leveldb-1.23/include/leveldb/iterator.h
/leveldb/leveldb-1.23/include/leveldb/options.h
/leveldb/leveldb-1.23/include/leveldb/slice.h
/leveldb/leveldb-1.23/include/leveldb/status.h
/leveldb/leveldb-1.23/include/leveldb/table.h
/leveldb/leveldb-1.23/include/leveldb/table_builder.h
/leveldb/leveldb-1.23/include/leveldb/write_batch.h
/leveldb/leveldb-1.23/issues/issue178_test.cc
/leveldb/leveldb-1.23/issues/issue200_test.cc
/leveldb/leveldb-1.23/issues/issue320_test.cc
/leveldb/leveldb-1.23/port/port.h
/leveldb/leveldb-1.23/port/port_config.h.in
/leveldb/leveldb-1.23/port/port_example.h
/leveldb/leveldb-1.23/port/port_stdcxx.h
/leveldb/leveldb-1.23/port/README.md
/leveldb/leveldb-1.23/port/thread_annotations.h
/leveldb/leveldb-1.23/table/block.cc
/leveldb/leveldb-1.23/table/block.h
/leveldb/leveldb-1.23/table/block_builder.cc
/leveldb/leveldb-1.23/table/block_builder.h
/leveldb/leveldb-1.23/table/filter_block.cc
/leveldb/leveldb-1.23/table/filter_block.h
/leveldb/leveldb-1.23/table/filter_block_test.cc
/leveldb/leveldb-1.23/table/format.cc
/leveldb/leveldb-1.23/table/format.h
/leveldb/leveldb-1.23/table/iterator.cc
/leveldb/leveldb-1.23/table/iterator_wrapper.h
/leveldb/leveldb-1.23/table/merger.cc
/leveldb/leveldb-1.23/table/merger.h
/leveldb/leveldb-1.23/table/table.cc
/leveldb/leveldb-1.23/table/table_builder.cc
/leveldb/leveldb-1.23/table/table_test.cc
/leveldb/leveldb-1.23/table/two_level_iterator.cc
/leveldb/leveldb-1.23/table/two_level_iterator.h
/leveldb/leveldb-1.23/util/arena.cc
/leveldb/leveldb-1.23/util/arena.h
/leveldb/leveldb-1.23/util/arena_test.cc
/leveldb/leveldb-1.23/util/bloom.cc
/leveldb/leveldb-1.23/util/bloom_test.cc
/leveldb/leveldb-1.23/util/cache.cc
/leveldb/leveldb-1.23/util/cache_test.cc
/leveldb/leveldb-1.23/util/coding.cc
/leveldb/leveldb-1.23/util/coding.h
/leveldb/leveldb-1.23/util/coding_test.cc
/leveldb/leveldb-1.23/util/comparator.cc
/leveldb/leveldb-1.23/util/crc32c.cc
/leveldb/leveldb-1.23/util/crc32c.h
/leveldb/leveldb-1.23/util/crc32c_test.cc
/leveldb/leveldb-1.23/util/env.cc
/leveldb/leveldb-1.23/util/env_posix.cc
/leveldb/leveldb-1.23/util/env_posix_test.cc
/leveldb/leveldb-1.23/util/env_posix_test_helper.h
/leveldb/leveldb-1.23/util/env_test.cc
/leveldb/leveldb-1.23/util/env_windows.cc
/leveldb/leveldb-1.23/util/env_windows_test.cc
/leveldb/leveldb-1.23/util/env_windows_test_helper.h
/leveldb/leveldb-1.23/util/filter_policy.cc
/leveldb/leveldb-1.23/util/hash.cc
/leveldb/leveldb-1.23/util/hash.h
/leveldb/leveldb-1.23/util/hash_test.cc
/leveldb/leveldb-1.23/util/histogram.cc
/leveldb/leveldb-1.23/util/histogram.h
/leveldb/leveldb-1.23/util/logging.cc
/leveldb/leveldb-1.23/util/logging.h
/leveldb/leveldb-1.23/util/logging_test.cc
/leveldb/leveldb-1.23/util/mutexlock.h
/leveldb/leveldb-1.23/util/no_destructor.h
/leveldb/leveldb-1.23/util/no_destructor_test.cc
/leveldb/leveldb-1.23/util/options.cc
/leveldb/leveldb-1.23/util/posix_logger.h
/leveldb/leveldb-1.23/util/random.h
/leveldb/leveldb-1.23/util/status.cc
/leveldb/leveldb-1.23/util/status_test.cc
/leveldb/leveldb-1.23/util/testutil.cc
/leveldb/leveldb-1.23/util/testutil.h
/leveldb/leveldb-1.23/util/windows_logger.h
/leveldb/leveldb-1.23/.appveyor.yml
/leveldb/leveldb-1.23/.clang-format
/leveldb/leveldb-1.23/.gitignore
/leveldb/leveldb-1.23/.gitmodules
/leveldb/leveldb-1.23/.travis.yml
/leveldb/leveldb-1.23/AUTHORS
/leveldb/leveldb-1.23/CMakeLists.txt
/leveldb/leveldb-1.23/CONTRIBUTING.md
/leveldb/leveldb-1.23/LICENSE
/leveldb/leveldb-1.23/NEWS
/leveldb/leveldb-1.23/README.md
/leveldb/leveldb-1.23/TODO
/snappy/snappy-1.2.2/.github/workflows/build.yml
/snappy/snappy-1.2.2/cmake/config.h.in
/snappy/snappy-1.2.2/cmake/SnappyConfig.cmake.in
/snappy/snappy-1.2.2/docs/README.md
/snappy/snappy-1.2.2/testdata/alice29.txt
/snappy/snappy-1.2.2/testdata/asyoulik.txt
/snappy/snappy-1.2.2/testdata/baddata1.snappy
/snappy/snappy-1.2.2/testdata/baddata2.snappy
/snappy/snappy-1.2.2/testdata/baddata3.snappy
/snappy/snappy-1.2.2/testdata/fireworks.jpeg
/snappy/snappy-1.2.2/testdata/geo.protodata
/snappy/snappy-1.2.2/testdata/html
/snappy/snappy-1.2.2/testdata/html_x_4
/snappy/snappy-1.2.2/testdata/kppkn.gtb
/snappy/snappy-1.2.2/testdata/lcet10.txt
/snappy/snappy-1.2.2/testdata/paper-100k.pdf
/snappy/snappy-1.2.2/testdata/plrabn12.txt
/snappy/snappy-1.2.2/testdata/urls.10K
/snappy/snappy-1.2.2/.bazelrc
/snappy/snappy-1.2.2/.gitignore
/snappy/snappy-1.2.2/.gitmodules
/snappy/snappy-1.2.2/AUTHORS
/snappy/snappy-1.2.2/BUILD.bazel
/snappy/snappy-1.2.2/CMakeLists.txt
/snappy/snappy-1.2.2/CONTRIBUTING.md
/snappy/snappy-1.2.2/COPYING
/snappy/snappy-1.2.2/format_description.txt
/snappy/snappy-1.2.2/framing_format.txt
/snappy/snappy-1.2.2/MODULE.bazel
/snappy/snappy-1.2.2/NEWS
/snappy/snappy-1.2.2/README.md
/snappy/snappy-1.2.2/snappy.cc
/snappy/snappy-1.2.2/snappy.h
/snappy/snappy-1.2.2/snappy-c.cc
/snappy/snappy-1.2.2/snappy-c.h
/snappy/snappy-1.2.2/snappy-internal.h
/snappy/snappy-1.2.2/snappy-sinksource.cc
/snappy/snappy-1.2.2/snappy-sinksource.h
/snappy/snappy-1.2.2/snappy-stubs-internal.cc
/snappy/snappy-1.2.2/snappy-stubs-internal.h
/snappy/snappy-1.2.2/snappy-stubs-public.h.in
/snappy/snappy-1.2.2/snappy-test.cc
/snappy/snappy-1.2.2/snappy-test.h
/snappy/snappy-1.2.2/snappy_benchmark.cc
/snappy/snappy-1.2.2/snappy_compress_fuzzer.cc
/snappy/snappy-1.2.2/snappy_test_data.cc
/snappy/snappy-1.2.2/snappy_test_data.h
/snappy/snappy-1.2.2/snappy_test_tool.cc
/snappy/snappy-1.2.2/snappy_uncompress_fuzzer.cc
/snappy/snappy-1.2.2/snappy_unittest.cc
/snappy/snappy-1.2.2/WORKSPACE
/snappy/snappy-1.2.2/WORKSPACE.bzlmod
